*      text=auto
*.bat  eol=crlf

/.github/         export-ignore
/test             export-ignore
/spec             export-ignore

# Remove all dot files for export
.editorconfig     export-ignore
.php_cs           export-ignore
.travis.yml       export-ignore


phpcs.xml         export-ignore
phpspec.yml       export-ignore
